# Server
PORT=4040

# PostgreSQL
PG_HOST=
PG_PORT=5432
PG_DATABASE=
PG_USER=
PG_PASSWORD=

# JWT
JWT_SECRET=

# Google Gemini
GEMINI_API_KEY=

# TTS Provider (edge)
TTS_PROVIDER=edge

# Admin Seed Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
